@charset "utf-8";

body,h1,h2,h3,p,ul,ol,li,dl,dt,dd,table,img,div{
 	margin: 0px;
 	padding: 0px;
}

body {
	background-color: #000000;
	text-align: left;
}
img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: bottom;
}
#container {
	height: 700px;
	width: 1000px;
	background-image: url(image/top.png);
	text-align: left;
}
#header {
	height: 150px;
	width: 100%;
	font-size: 1px;
}
.logo {
	text-align: right;
}
#gnavi {
	height: 450px;
	width: 600px;
	float: right;

}
#gnavi ul {
	margin-left: 110px;
	margin-right: 120px;
}
#gnavi li {
	list-style-type: none;
}
#gnavi li a {
	display: inline-block;
	font-family: "Courier New", Courier, mono;
	font-size: 30px;
	font-weight: normal;
	color: #FF6600;
	font-variant: normal;
	line-height: normal;
	height: 60px;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-align: left;
}
#gnavi li a:visited {
	color: #FF6600;
	font-size: 30px;
	font-style: oblique;
}
#gnavi li a:hover {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #99CC00;
	list-style-type: none;
	font-weight: bold;
}

/*
.what a:hover{
	background-position: 0px;
}
.about a:hover{
	background-image: url(images/navi.gif);
	background-position: -215px -50px;
}
.bio a:hover{
	background-image: url(images/navi.gif);
	background-position: -430px -50px;
}
.disco a:hover{
	background-image: url(images/navi.gif);
	background-position: -645px -50px;
}
.concert a:hover{
	background-image: url(images/navi.gif);
	background-position: -645px -50px;
}
.blog a:hover{
	background-image: url(images/navi.gif);
	background-position: -645px -50px;
}
*/




#footer {
	height: 100px;
	width: 1000px;
	color: #999999;
	font-size: 16px;
	clear: both;
	font-family: "Courier New", Courier, mono;
}
#footer ul {
	padding-top: 50px;
	padding-left: 470px;
}

#footer li  {
	list-style-type: none;
	float: left;
	height: auto;
	width: auto;
	display: list-item;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#footer  li a  {
	text-decoration: none;
	list-style-type: none;
	font-size: small;
	color: #006699;
	padding-left: 12px;
}
#footer  li a:hover   {
	color: #9c0;
	text-decoration: underline overline;
}

#footer p  {
	padding-top: 30px;
	font-size: small;
	padding-right: 10px;
	color: #CCCCCC;
}
